
.btn {
    border: none;
    background: var(--bg-light);
    color: var(--text-dark);
    padding: .5rem .75rem;
    border-radius: .25rem;
    transition: var(--transition);
    display: inline-block;

    &:focus, &:active {
        outline: 0;
    }

    &[disabled] {
        opacity: .5 !important;
    }

    .icon {
        width: 24px;
        height: 24px;
    }

    &:hover {
        background: var(--bg-light-dark);
    }
}

.btn-lg {
    padding: .75rem 1rem;
    font-size: 1.1rem;
}

.btn-sm {
    font-size: .9rem;
}

.btn-primary {
    background: var(--color-primary);
    color: #FFF;

    &:hover {
        background: var(--color-primary-dark);
    }
}

.btn-secondary {
    @media (prefers-color-scheme: dark){
        background: var(--color-primary);

        &:hover {
            background: var(--color-primary-dark);
        }
    }
}

.btn-danger {
    background: var(--color-danger);
    color: #FFF;

    &:hover {
        background: var(--color-danger-dark);
    }
}

.btn-text {
    background: transparent;
    
    &:hover {
        background: rgba(0,0,0,.2);
    }
}

.btn-light {
    background: #FFF;
    color: var(--color-primary);

    &.shadow {
        box-shadow: $shadow-dark;
    }

    &:hover {
        background: #d6d1d9;
    }
}

.btn-plain {
    color: inherit;
    background: transparent;
    
    &:hover {
        color: var(--text-dark);
    }
}

.btn-remove,
.btn.remove {
    color: var(--color-danger);
    background: transparent;
    text-decoration: none;
    font-size: 0.8em;
}

.add-list-item {
    padding: 0.5rem;
    border: 2px dashed var(--border-color-light);
    border-radius: var(--border-radius);
    text-align: center;
    color: var(--border-color-light);
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-light);
    background: var(--bg-light);
    border-color: var(--border-color); 

    span {
        color: inherit;
        display: block;
    }

    svg {
        width: 30px;
        height: 30px;
    }

    &:hover {
        background: var(--add-list-item-bg-hover);
    }
}